**/dist/*
**/site/bundles/
*.js.map
*.pyc
.DS_Store
.firebase/
.rollup.cache/
.rpt2_cache/
.wireit/
node_modules
npm-debug.log
.yarn/*
.pnp.*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!LICENSE
